In [1]:
import pandas as pd
from pandasql import sqldf
mysql = lambda q: sqldf(q, globals())

In [2]:
df = pd.read_csv('./data/penguins.csv')
mysql("SELECT * from df")

,Unnamed: 0,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/2007,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/2007,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,None
2,2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,16/11/2007,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,None
3,3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,16/11/2007,NaN,NaN,NaN,NaN,None,NaN,NaN,Adult not sampled.
4,4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,16/11/2007,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,63,PAL0910,64,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N98A2,Yes,19/11/2009,55.8,19.8,207.0,4000.0,MALE,9.70465,-24.53494,None
340,64,PAL0910,65,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N99A1,No,21/11/2009,43.5,18.1,202.0,3400.0,FEMALE,9.37608,-24.40753,Nest never observed with full clutch.
341,65,PAL0910,66,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N99A2,No,21/11/2009,49.6,18.2,193.0,3775.0,MALE,9.46180,-24.70615,Nest never observed with full clutch.
342,66,PAL0910,67,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N100A1,Yes,21/11/2009,50.8,19.0,210.0,4100.0,MALE,9.98044,-24.68741,None
343,67,PAL0910,68,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N100A2,Yes,21/11/2009,50.2,18.7,198.0,3775.0,FEMALE,9.39305,-24.25255,None

In [3]:
adelie_penguins = mysql("SELECT * from df where species = 'Adelie Penguin (Pygoscelis adeliae)'")
adelie_penguins

,Unnamed: 0,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/2007,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/2007,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,None
2,2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,16/11/2007,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,None
3,3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,16/11/2007,NaN,NaN,NaN,NaN,None,NaN,NaN,Adult not sampled.
4,4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,16/11/2007,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,147,PAL0910,148,Adelie Penguin (Pygoscelis adeliae),Anvers,Dream,"Adult, 1 Egg Stage",N83A2,Yes,13/11/2009,36.6,18.4,184.0,3475.0,FEMALE,8.68744,-25.83060,None
148,148,PAL0910,149,Adelie Penguin (Pygoscelis adeliae),Anvers,Dream,"Adult, 1 Egg Stage",N84A1,Yes,17/11/2009,36.0,17.8,195.0,3450.0,FEMALE,8.94332,-25.79189,None
149,149,PAL0910,150,Adelie Penguin (Pygoscelis adeliae),Anvers,Dream,"Adult, 1 Egg Stage",N84A2,Yes,17/11/2009,37.8,18.1,193.0,3750.0,MALE,8.97533,-26.03495,None
150,150,PAL0910,151,Adelie Penguin (Pygoscelis adeliae),Anvers,Dream,"Adult, 1 Egg Stage",N85A1,Yes,17/11/2009,36.0,17.1,187.0,3700.0,FEMALE,8.93465,-26.07081,None
151,151,PAL0910,152,Adelie Penguin (Pygoscelis adeliae),Anvers,Dream,"Adult, 1 Egg Stage",N85A2,Yes,17/11/2009,41.5,18.5,201.0,4000.0,MALE,8.89640,-26.06967,None

In [4]:
adelie_penguins.to_csv('adelie_penguins.csv')